.AddMedicine__Main {
  background-color: #d4f6ff;
  width: calc(100vw - 30rem);
  min-height: 100vh;
  position: relative;
  top: 0;
  left: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddMedicine__Main h2 {
  font-size: 3rem;
  font-weight: 500;
  padding: 4rem;
}

.AddMedicine__Form {
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  width: 80%;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.left_side_form {
  width: 40%;
}

.left_side_form img {
  object-fit: cover;
  width: 100%;
}

.right_side_form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MedicineInputField {
  border-radius: 0.5rem;
  width: 90%;
  background-color: #2a2626;
  margin: 1.5rem 0;
  display: flex;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.MedicineInputField input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.6rem;
  padding: 1rem;
}

.MedicineInputField label {
  align-items: center;
  width: 30%;
  font-size: 1.5rem;
  color: white;
  padding: 1rem;
}

.MedicineInputField select {
  width: 100%;
  background-color: transparent;
}

.MedicineInputField option {
  background-color: black;
}

.btnSubmit {
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 1.2rem;
  font-size: 1.6rem;
  width: 90%;
  background-color: #80adee;
  color: black;
  margin: 1.5rem 0;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  cursor: pointer !important;
  transition: all 0.3s ease-in-out;
}

.btnSubmit:hover {
  transform: translateY(-5px);
}
